@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito&display=swap');

:root{

    --primary-color : #581c87;
    --dark-gray :#6b7280;
    --off-white : #f3f4f6
}
h1{
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
    color: var(--primary-color)
}

p{
    text-align: center;
    padding: 1rem 9rem;
    font-size: 16px;
    
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    height: 100vh;
    overflow-x: hidden;
}

.link{
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

.link-primary{
    background-color: var(--primary-color) ;
    display: block;
    width: 137px;
    border-radius: 2rem;
    font-size: 19px;
    color: white;
    margin: auto;
    padding :0.7rem 0.7rem;
    border: var(--primary-color) solid 1px;
}


.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0 0.5rem;
}

.navigation{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-bottom-left-radius: 1rem;
    color: white;
}

.navigation .nav-brand{
    padding: 1rem;
   font-weight: bolder;
   font-size: larger;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

.navigation ul{
    padding: 0.5rem;
}

.navigation .nav{
    text-align: right;
}

.section{
    padding: 2rem 0.5rem;
}

.section h2{
    text-align: center;
}

 .section-ow{
    background-color: var(--off-white);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.footer{
   background-color: var(--primary-color);
   padding: 0.5rem 1rem;
   color: white;
   border-top-right-radius: rem;
   text-align: center;  
   position: relative;
   bottom: 0%;
   width: 100%;
   margin-top: 2rem;
   border-top-left-radius: 1rem;
}

.footer .link{
    color: white;
    padding: 1rem 1rem;
}

.footer ul{
    padding-inline-start: 0px;
}

.date{
    display: block;
    text-align: center;
}